/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* commons */
body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

h3 {
  margin-bottom: 10px;
}
ul {
  list-style: none;
}

/* components */
.btn {
  text-decoration: none;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
}
.btn-blue {
  background-color: #14aaf5;
  color: #fff;
  border-color: #14aaf5;
}
.btn-disabled {
  color: #c4cbd0;
  border-color: #c4cbd0;
}
/* header */
header {
  background-color: white;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
ul.menu li a {
  text-decoration: none;
  color: #14aaf5;
}
ul.menu li a:hover {
  text-decoration: underline;
}

/* contenuto principale */
.top {
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  margin-bottom: 1px;
}
.tasks {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px;
}

/* lista */

.main-list > li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.task-list > li {
  margin-bottom: 15px;
}

.circle {
  border: 1px solid #90e1d3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  color: #90e1d3;
}
.circle.circle-red {
  border-color: red;
  color: red;
}

/* Tag */
.tag {
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  display: inline-block;
}
.tag-blue {
  background-color: #14aaf5;
}
.tag-orange {
  background-color: orange;
}
.tag-green {
  background-color: greenyellow;
}
